type project
id Nancy.Session.InMemory
version 0.9.0
title Nancy.Session.InMemory
description An in-memory session store for Nancy (utilizing Nancy.Session.Persistable)
authors Daniel J. Summers
owners Daniel J. Summers
licenseUrl https://github.com/danieljsummers/Nancy.Session.Persistable/blob/master/LICENSE
projectUrl https://github.com/danieljsummers/Nancy.Session.Persistable
requireLicenseAcceptance false
copyright Copyright 2016
tags Nancy Session
releaseNotes Changed to Release mode
